@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap');
.index-container {
  margin: 10px 30px 40px 30px;
  padding: 5% 0% 50% 0%;
  border: solid 1px #506277;
}

.stock-title {
  width: 50%;
  color: #36E8A7;
  margin: 10px 10px 10px 10px;
}

.track-new-stock {
  padding: 20px 10px 20px 10px;
}

.index-data-cell {
  color: white;
  margin-right: 15%;
}

.my-portfolio {
  margin: 0% 5% 0% 5%;
  padding: 0px 0px 30px 0px;
  color: #E3F0FC;
  font-family: 'Spectral', serif;
}

.index-button {
  border-radius: 3px;
}
