@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap');
.index-container {
  position: relative;
  padding: 0px 0px 45vh 0px;

}

.stock-title {
  width: 50%;
  color: #36E8A7;
  margin: 10px 10px 10px 10px;
}

.track-new-stock {
  padding: 20px 10px 20px 10px;
}
.track-button {
  border-radius: 5px;
  background-image: linear-gradient(45deg, #DF1077, #DF7070, #DF6077);
  font-size: 18px;
  font-weight: bold;
  color: black;
  border: solid black 2px;
}
.track-button:hover {
  background-image: linear-gradient(0deg, #DF2077, #DF7070, #DF2077);
  color: black;
}
.button-bar {
  background-image: linear-gradient(45deg, #3FB9EA, #7290AA, #91B4D4);
  margin: 0px 10px 10px 10px;
  padding: 15px 10px 0px 10px;
  border: solid black 2px;
}

.index-data-cell {
  color: white;
  margin-right: 15%;
}

.my-portfolio {
  margin: 0% 5% 0% 5%;
  padding: 0px 0px 30px 0px;
  color: #E3F0FC;
  font-family: 'Spectral', serif;
}

.index-button {
  border-radius: 3px;
}
