@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap');
.index-container {
  position: relative;
  padding: 0px 0px 45vh 0px;

}

.index-callouts {
  border: solid 1px #506277;
  margin: 0px 50px 30px 50px;
}

.stock-title {
  width: 50%;
  color: #36E8A7;
  margin: 10px 10px 10px 10px;
}

.track-new-stock {
  padding: 20px 10px 20px 10px;
}
.track-button {
  border-radius: 5px;
  background-image: linear-gradient(#004d80, #001f33, #004d80);
  font-size: 18px;
  font-weight: bold;
  color: black;
  border: solid #3FB9EA 1px;
}
.track-button:hover {
  color: white;
  background-color: #001f33;
}
.button-bar {
  background-color: #363D46;
  margin: 0px 50px 10px 50px;
  padding: 15px 10px 0px 10px;
  border: solid 1px #506277;
}

.index-data-cell {
  color: white;
  margin-right: 15%;
}

.my-portfolio {
  margin: 0% 5% 0% 5%;
  padding: 30px 0px 30px 0px;
  color: white;
  font-family: 'Spectral', serif;
}

.index-button {
  border-radius: 3px;
}
