.grid-x {
  background-color: #c9d4ca;
  margin: 0px 5px 0px 5px
}

.data-tile {
  border: solid #999999 1px;
}

.data-cell {
  border: solid #999999 1px;
  margin: 0px 0px 0px 0px;
}

.callout {
  margin: 10px 5% 5px 5%;
}

.stock-title {
  width: 50%;
}
