@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.show-container {
  padding: 0% 0% 20% 0%;
  border: solid #282828 10px;
}

.show-grid {
  background-image: linear-gradient(0deg, #282828, #36E8A7);
  padding: 50px 50px 50px 50px;
  color: white;
}
.show-grid-2 {
  padding: 50px 20px 50px 20px;
  color: white;
  background-image: linear-gradient(-90deg, #99ffff, #596277);
}

.stock-dashboard {
  color: white;
  font-size: 46px;
  font-weight: bold;
  background-image: linear-gradient(0deg, #262943, #282828);
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 20px 0px;
}

.chart-tile {
  color: white;
  background-color: white;
  padding-right: 10px;
}
.data-tile {
  background-color: inherit;
  margin-left: 20px;
}

.data-cell {
  margin: 5px 5px 5px 5px;
  border: solid 5px #43505C;
  border-radius: 10px;
  background-image: linear-gradient(0deg, #282828, #506277);
}

.data-titles {
  font-size: 12px;
  margin: 0px 0px 0px 10px;
}

.price-data {
  font-size: 50px;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}

.positive {
  color: #36E8A7;
  margin: 0px 6px 0px 6px;
}

.negative {
  color: #DF4577;
  margin: 0px 6px 0px 6px;
}

h3 {
  margin-left: 10px;
}

.submit-trade-button {
  border-radius: 3px;
  background-color: #36E8A7;
  color: black;
  font-size: 16px;
}
.submit-trade-button:hover {
  background-color: #31AE84;
  color: black;
}

.market-hours {
  font-size: 16px;
  text-align: center;
}
.market-closed {
  animation: blinker 2s linear infinite;
  color: red;
}

.market-open {
  animation: blinker 2s linear infinite;
  color: #37E8A6;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
