.status-message {
  color: white;
  padding: 20px 0px 20px 0px;
}

.user-container {
  padding-bottom: 10%;
  background-image: url('bull.png');
  background-size: cover;
}

.user-callout {
  margin: 5% 15% 5% 15%;
  padding: 30px 50px 30px 50px;
  background-color: #363D46;
  border: solid #999999 1px;
  color: #ADD7FC;
  opacity: 80%;
}

label {
  color: white;
  font-size: 16px;
}
